<ion-view view-title="Call" name="call-view">
  <ion-content scroll="false">
    <div ng-if="Ctrl.callState.myState.state === 'wait'">
      <div ng-if="Ctrl.callState.myState.callObj.aCall.isCaller">
        <div ng-include="'app/call/caller.wait.html'"></div>
      </div>

      <div ng-if="!Ctrl.callState.myState.callObj.aCall.isCaller">
        <div ng-include="'app/call/callee.wait.html'"></div>
      </div>
    </div>

    <div ng-if="Ctrl.callState.myState.state === 'joined'">
      <div ng-include="'app/call/call.conversation.html'"></div>
    </div>

  </ion-content>
</ion-view>